.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


a:focus-visible {
    outline: 3px solid #25A978; 
}

.nav-color-1 {
    background-color: #25A978;
}

.navbar a {
    color: #282828;
    text-decoration: none;
    font-size: clamp(24px, 3vw, 4vw);
    margin: 0px clamp(15px, 2vw, 3vw);
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.main-content {
    font-family: 'Jacques Francois', serif;
    color: white;
    min-height: 80vh;
    margin-top: 10vh;
}

.main-content h1 {
    font-size: clamp(56px, 5.5vw, 6vw);
}

.main-content h2 {
    font-size: clamp(36px, 3.5vw, 4vw);
}

.resume-button {
    padding: clamp(10px, 2vh, 3vh) clamp(20px, 3vw, 4vw);
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-size: clamp(18px, 2vw, 3vw);
    background-color: #25A978;
}

@media (hover:hover) {
.resume-button:hover {
    background-color: #97e8ca;
    padding: clamp(20px, 3vh, 4vh) clamp(40px, 5vw, 6vw);
    color: #282828;
    font-size: clamp(24px, 3vw, 4vw);
}
}

.resume-button:active {
    background-color: #25A978;
    padding: clamp(10px, 2vh, 3vh) clamp(20px, 3vw, 4vw);
    border: 2px solid black;
    color: white;
    text-decoration: none;
    font-size: clamp(18px, 2vw, 3vw);
}

.resume-button-spacing {
    margin-top: clamp(300px, 31vh, 32vh);
}

.header-bar {
    position: fixed;
    width: 100%;
    height: clamp(90px, 10vh, 11vh);
    background-color: black;
    color: white;
    font-family: '42dot Sans', serif;
    z-index: 1;
}

.menu-button{
    font-size: clamp(24px, 3vw, 4vw);
}

.title-margin {
    font-size: clamp(48px, 5vw, 6vw);
}

#offcanvaslinks {
    background-color: #97e8ca;
    height: 100vh;
    width: clamp(150px, 16vw, 17vw);
}

li {
    padding: 5px 0px;
}

.offcanvas-title {
    font-size: clamp(24px, 3vw, 4vw);
}

.sub-content {
    background-color: #00aa9a;
    padding-top: clamp(100px, 11vh, 12vh);
}

.sub-content h2 {
    font-size: clamp(28px, 3vw, 4vw);
    color: black;
}

.profile-image-radius {
    width: clamp(250px, 26vw, 27vw);
    border: 2px solid black;
}

.about-text {
    max-width: 90%;
    font-size: clamp(16px, 1.5vw, 2vw);
    text-align: justify;
    margin-left: clamp(18px, 1.5vw, 2vw);
    color: black;
}

.skills-box {
  background-color: #97e8ca;
  border-radius: 8px;
}

.skills-box h3 {
  /*font-size: 1.25rem;*/
  color: #333;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(80px, 9vw, 10vw);
}

.skill-item img {
  width: clamp(72px, 8vw, 9vw);
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-bottom: 0.5rem;
  transition: transform 0.2s;
}

.skill-item img:hover {
  transform: scale(1.1);
}

.skill-item figcaption {
  font-size: 0.85rem;
  text-align: center;
  color: #444;
}

.socials-box {
    border:2px solid black;
    background-color: #97e8ca;
}

.social-icons {
    aspect-ratio: 1/1;
    width: clamp(140px, 15vw, 16vw);
}

.social-icons img {
    aspect-ratio: 1/1;
    width: clamp(42px, 4.5vw, 5vw);
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.contact-number {
    font-size: clamp(20px, 2.5vw, 3vw);
    color: black;
}

.contact-note {
    font-size: clamp(14px, 1.5vw, 2vw);
    font-weight: bold;
    color: black;
    margin-right: 20px;
}

.silt{
    font-family: 'Shadows Into Light Two', serif;
}

#gitbox {
    padding: 0px clamp(16px, 2vw, 3vw);
}

#gitbox label {
    font-size: clamp(16px, 2vw, 3vw);
    font-weight: bold;
    background-color: transparent;
    color: #282828;
}

#gitbox label::after{
    background-color: #97e8ca;
}

#email {
    width: 100%;
    padding-top: clamp(48px, 5vh, 6vh);
    padding-bottom: clamp(24px, 3vh, 4vh);
    padding-left: clamp(16px, 2vw, 3vw);
    font-size: clamp(16px, 2vw, 3vw);
    background-color: #97e8ca;
    border-color: black;
}

#message {
    height: unset;
    width: 100%;
    padding-top: clamp(36px, 4vh, 5vh);
    padding-left: clamp(16px, 2vw, 3vw);
    font-size: clamp(16px, 2vw, 3vw);
    resize: none;
    background-color: #97e8ca;
    border-color: black;
}

#email-status {
    font-size: clamp(14px, 1.5vw, 2vw);
    color: black;
}

.input-warning {
    font-size: clamp(14px, 1.5vw, 2vw);
    margin-right: clamp(190px, 20vw, 21vw);
    background-color: #ff5e5a;
    color: black;
}

.submit-button {
    background-color: #97e8ca;
    border-radius: 50px;
    border: 2px solid black;
    font-size: clamp(16px, 2vw, 3vw);
}

.submit-button:disabled {
    color: #4A4041;
    border-color: #4A4041;
}