.background {
    background-image: url('coding.gif');
    background-size: cover;
    background-position: center;
    width: 100%;
}

a:focus-visible {
    outline: 3px solid #25A978; 
}

.nav-color-1 {
    background-color: #97e8ca;
}

.navbar a {
    color: #282828;
    text-decoration: none;
    font-size: clamp(24px, 3vw, 4vw);
    margin: 0px clamp(15px, 2vw, 3vw);
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.main-content {
    font-family: 'Jacques Francois', serif;
    color: white;
    min-height: 80vh;
    margin-top: 10vh;
}

.main-content h1 {
    font-size: clamp(56px, 5.5vw, 6vw);
}

.main-content h2 {
    font-size: clamp(36px, 3.5vw, 4vw);
}

.resume-button {
    padding: clamp(10px, 2vh, 3vh) clamp(20px, 3vw, 4vw);
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-size: clamp(18px, 2vw, 3vw);
    background-color: #cccccc;
}

@media (hover:hover) {
.resume-button:hover {
    background-color: #97e8ca;
    padding: clamp(20px, 3vh, 4vh) clamp(40px, 5vw, 6vw);
    color: #282828;
    font-size: clamp(24px, 3vw, 4vw);
}
}

.resume-button:active {
    background-color: #25A978;
    padding: clamp(10px, 2vh, 3vh) clamp(20px, 3vw, 4vw);
    border: 2px solid black;
    color: white;
    text-decoration: none;
    font-size: clamp(18px, 2vw, 3vw);
}

.resume-button-spacing {
    margin-top: clamp(300px, 31vh, 32vh);
}

.header-bar {
    position: fixed;
    width: 100%;
    height: clamp(90px, 10vh, 11vh);
    background-color: black;
    color: white;
    font-family: '42dot Sans', serif;
    z-index: 1;
}

.menu-button{
    font-size: clamp(24px, 3vw, 4vw);
}

.title-margin {
    font-size: clamp(48px, 5vw, 6vw);
}

#offcanvaslinks {
    background-color: #25A978;
    height: 100vh;
    width: clamp(150px, 16vw, 17vw);
}

li {
    padding: 5px 0px;
}

.offcanvas-title {
    font-size: clamp(24px, 3vw, 4vw);
}

.sub-content {
    background-color: #97e8ca;
    padding-top: clamp(100px, 11vh, 12vh);
}

.sub-content h2 {
    font-size: clamp(28px, 3vw, 4vw);
}

.profile-image-radius {
    width: clamp(250px, 26vw, 27vw);
    border: 2px solid #282828;
}

.about-text {
    max-width: 90%;
    font-size: clamp(16px, 1.5vw, 2vw);
    text-align: justify;
    margin-left: clamp(18px, 1.5vw, 2vw);
    color: black;
}

.skill-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d32f2f;
    border-radius: 10px;
}
.skill-container h2 {
    margin-bottom: 20px;
}
.skills {
    display: flex;
    justify-content: space-between;
}
.skill-column {
    width: 45%;
    text-align: left;
}

.socials-container {
    border:2px solid black;
}

.social-icons {
    aspect-ratio: 1/1;
    width: clamp(140px, 15vw, 16vw);
}

.social-icons img {
    aspect-ratio: 1/1;
    width: clamp(42px, 4.5vw, 5vw);
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.contact-number {
    font-size: clamp(20px, 2.5vw, 3vw);
    color: #222;
}

.contact-note {
    font-size: clamp(14px, 1.5vw, 2vw);
    color: #222;
    opacity: 80%;
    margin-right: 20px;
}

.silt{
    font-family: 'Shadows Into Light Two', serif;
}

#gitbox {
    padding: 0px clamp(16px, 2vw, 3vw);
}

#email {
    height: unset;
    width: 100%;
    padding-top: clamp(32px, 3.5vh, 4vh);
    padding-left: clamp(16px, 2vw, 3vw);
    font-size: clamp(16px, 2vw, 3vw);
}

#message {
    height: unset;
    width: 100%;
    padding-top: clamp(36px, 4vh, 5vh);
    padding-left: clamp(16px, 2vw, 3vw);
    font-size: clamp(16px, 2vw, 3vw);
    resize: none;
}

#email-status {
    font-size: clamp(14px, 1.5vw, 2vw);
}

label {
    font-size: clamp(16px, 2vw, 3vw);
}

.input-warning {
    font-size: clamp(14px, 1.5vw, 2vw);
    color: red;
}

.submit-button {
    background-color: #25A978;
    border-radius: 50px;
    font-size: clamp(16px, 2vw, 3vw);
}